/* line 1, ../sass/_common.scss */
.h-header {
  background-color: #2e2d2d;
  text-align: center;
}
/* line 5, ../sass/_common.scss */
.h-header span {
  display: none;
}
/* line 9, ../sass/_common.scss */
.h-header img {
  display: inline;
  width: 350px;
}

/* Stagger */
/* line 16, ../sass/_common.scss */
#main {
  width: 100%;
  /* full fluid layout */
}

/* line 20, ../sass/_common.scss */
a.h-button {
  display: block;
  width: 75%;
  text-align: center;
  padding: 10px 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
/* line 30, ../sass/_common.scss */
.stagger a.h-button {
  background-color: #d80303;
  color: #FFF;
  margin-top: 30px;
}
/* line 36, ../sass/_common.scss */
a.h-button:hover {
  background-color: #8C0101;
}
@media (min-width: 768px) {
  /* line 41, ../sass/_common.scss */
  a.h-button {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  /* line 47, ../sass/_common.scss */
  a.h-button {
    width: 33%;
  }
}

/* line 53, ../sass/_common.scss */
.stagger .row {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 5px solid #2e2d2d;
}

/* Contact Us */
/* line 2, ../sass/_contact.scss */
.h-contact {
  text-align: center;
}
/* line 5, ../sass/_contact.scss */
.h-contact table {
  width: 100%;
  margin: 0 auto;
}
/* line 10, ../sass/_contact.scss */
.h-contact td {
  width: 50%;
}
/* line 14, ../sass/_contact.scss */
.h-contact td:first-child {
  text-align: right;
  padding-right: 20px;
}
/* line 19, ../sass/_contact.scss */
.h-contact td:last-child {
  text-align: left;
}
/* line 23, ../sass/_contact.scss */
.h-contact td span {
  margin-right: 5px;
}

/* Footer */
/* line 3, ../sass/_footer.scss */
.h-footer {
  background-color: #2E2D2D;
  color: #EBEBEB;
  padding: 20px 0;
  text-align: center;
  font-size: 90%;
}
@media (min-width: 768px) {
  /* line 11, ../sass/_footer.scss */
  .h-footer {
    padding: 20px 0;
    text-align: left;
    font-size: 100%;
  }
}
/* line 18, ../sass/_footer.scss */
.h-footer a.top-link {
  color: #EBEBEB;
}
/* line 22, ../sass/_footer.scss */
.h-footer a.top-link:hover {
  color: #428bca;
}
/* line 26, ../sass/_footer.scss */
.h-footer address {
  margin-bottom: 20px;
}
/* line 30, ../sass/_footer.scss */
.h-footer address strong {
  display: inline-block;
  margin-bottom: 10px;
}
/* line 35, ../sass/_footer.scss */
.h-footer .h-button {
  width: 160px;
  background-color: #DDD;
  color: #2a2a2a;
}
/* line 41, ../sass/_footer.scss */
.h-footer a.h-button:hover {
  background-color: #AAA;
  text-decoration: none;
}

/* Desktop Nav */
/* line 2, ../sass/_nav.scss */
.h-nav-justified {
  display: none;
  /* hide for small windows */
  background-color: #56575a;
}
@media (min-width: 768px) {
  /* line 7, ../sass/_nav.scss */
  .h-nav-justified {
    display: block;
  }
}

@media (min-width: 768px) {
  /* line 14, ../sass/_nav.scss */
  .nav-justified {
    margin: 0 auto;
  }
}
/* line 20, ../sass/_nav.scss */
.nav .active {
  background-color: #3f4043;
}
/* line 25, ../sass/_nav.scss */
.nav li > a {
  color: #ebebeb;
  padding: 15px 5px 11px;
}
@media (min-width: 768px) {
  /* line 31, ../sass/_nav.scss */
  .nav li > a {
    padding: 15px 5px;
  }
}
/* line 36, ../sass/_nav.scss */
.nav li.active > a:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: red;
}
/* line 48, ../sass/_nav.scss */
.nav li > a:hover,
.nav li > a:focus {
  background-color: #333;
}

/* Mobile Nav */
/* line 55, ../sass/_nav.scss */
.h-navbar {
  display: block;
  margin-bottom: 0;
}

/* line 60, ../sass/_nav.scss */
.navbar-default {
  background-color: #56575a;
  border-color: #56575a;
}

/* line 65, ../sass/_nav.scss */
.navbar-default .navbar-toggle {
  border: none;
}

/* line 69, ../sass/_nav.scss */
.navbar-default .navbar-brand {
  color: #EBEBEB;
}

@media (min-width: 768px) {
  /* line 74, ../sass/_nav.scss */
  .h-navbar {
    display: none;
  }
}
/* line 79, ../sass/_nav.scss */
.navbar-default .navbar-nav > li > a {
  color: #EBEBEB;
}

/* line 83, ../sass/_nav.scss */
.navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 98, ../sass/_nav.scss */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus,
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #EBEBEB;
  background-color: #333;
}
