.h-header {
    background-color: #2e2d2d;
    text-align: center;
}

.h-header span {
    display: none;
}

.h-header img {
    display: inline;
}

/* Desktop Nav */
.h-nav-justified {
    display: none; /* hide for small windows */
    background-color: #56575a;
}

.nav-justified > li > a {
    color: #EBEBEB;
}

.nav .active {
    background-color: #3f4043;
}

.nav > li > a {
    padding: 15px 5px 11px;
}
.nav > li.active > a:after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #333;
}

@media (min-width: 768px) {
    .h-nav-justified {
        display: block;
    }
    .nav-justified {
        margin: 0 auto;
    }

    .nav > li > a {
        padding: 15px 5px;
    }
}

/* Mobile Nav */
.h-navbar {
    display: block;
    margin-bottom: 0;
}

.navbar-default {
    background-color: #56575a;
    border-color: #56575a;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-brand {
    color: #EBEBEB;
}

@media (min-width: 768px) {
    .h-navbar {
        display: none;
    }
}

.navbar-default .navbar-nav > li > a {
    color: #EBEBEB;
}

 {
    color: #EBEBEB;
    background-color: #333;
}

.navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus,
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #EBEBEB;
    background-color: #3f4043;
}

/* Stagger */
#main {
    width: 100%;
}
.stagger {
}

.stagger .row {
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 5px solid #2e2d2d;
}

.stagger .h-button {
    display: block;
    background-color: #d80303;
    color: #FFF;
    width: 75%;
    margin: 30px auto 0;
    text-align: center;
    padding: 10px 10px;

    -webkit-border-radius: 5px;
    border-radius: 5px;
}


@media (min-width: 768px) {
    .stagger .h-button {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .stagger .h-button {
        width: 33%;
    }
}

.stagger .h-button:hover {
    background-color: #8C0101;
}

/* Footer */
.h-footer {
    background-color: #2E2D2D;
    color: #EBEBEB;
    padding: 20px 0;
}

.h-footer a.top-link {
    color: #EBEBEB;
}

.h-footer a.top-link:hover {
    color: #428bca;
}

.h-footer address strong {
    display: inline-block;
    margin-bottom: 10px;
}

/* Contact Us */
.h-contact {
    text-align: center;
}

.h-contact table {
    width: 100%;
    margin: 0 auto;
}

.h-contact td {
    width: 50%;
}

.h-contact td:first-child {
    text-align: right;
    padding-right: 20px;
}

.h-contact td:last-child {
    text-align: left;
}

.h-contact td span {
    margin-right: 5px;
}