{% set domain = 'about' %}

{% extends 'HteSiteBundle:Default:_main.html.twig' %}

{% block title %}About {% endblock %}

{% block container %}
    <div class="mini-hero">
        <h2>{{ 'about.title'|trans({}, domain)|raw }}</h2>
        <p>{{ 'about.subtitle'|trans({}, domain)|raw }}</p>
    </div>

    <div class="stagger">
        {% include 'HteSiteBundle:Default:_stagger_left.html.twig' with {
            'imageUrl': 'bundles/hteasset/images/about/1.jpg',
            'title': 'about.section_1.title',
            'body': 'about.section_1.body'
        } %}

        {% include 'HteSiteBundle:Default:_stagger_right.html.twig' with {
            'imageUrl': 'bundles/hteasset/images/about/2.jpg',
            'title': 'about.section_2.title',
            'body': 'about.section_2.body'
        } %}

        {% include 'HteSiteBundle:Default:_stagger_left.html.twig' with {
            'imageUrl': 'bundles/hteasset/images/about/3.jpg',
            'title': 'about.section_3.title',
            'body': 'about.section_3.body'
        } %}
    </div>
{% endblock %}