{% extends 'HteSiteBundle:Default:_main.html.twig' %}

{% block title %}About {% endblock %}

{% block container %}
    <div class="mini-hero">
        <h2>About <span>HTE</span></h2>
        <p>Experts in manufacturing with over 35 years of experience.</p>
    </div>

    <div class="stagger">
        {% include 'HteSiteBundle:Default:_stagger_left.html.twig' with {
            'imageUrl': 'bundles/htesite/images/about/1.jpg',
            'title': 'about_us.section_1.title',
            'body': 'about_us.section_1.body'
        } %}

        {% include 'HteSiteBundle:Default:_stagger_right.html.twig' with {
            'imageUrl': 'bundles/htesite/images/about/2.jpg',
            'title': 'about_us.section_2.title',
            'body': 'about_us.section_2.body'
        } %}

        {% include 'HteSiteBundle:Default:_stagger_left.html.twig' with {
            'imageUrl': 'bundles/htesite/images/about/3.jpg',
            'title': 'about_us.section_3.title',
            'body': 'about_us.section_3.body'
        } %}
    </div>
{% endblock %}