{% extends 'HteSiteBundle:Default:_main.html.twig' %}

{% block title %}Capabilities &middot; {% endblock %}

{% block container %}
    <div class="mini-hero">
        <h2>Capabilities</h2>
        <p>Personalized and quality manufacturing at competitive rates.</p>
    </div>

    <div class="stagger">
        {% include 'HteSiteBundle:Default:_stagger_left.html.twig' with {
            'imageUrl': 'bundles/htesite/images/about_us.jpg',
            'title': 'capabilities.section_1.title',
            'body': 'capabilities.section_1.body'
        } %}

        {% include 'HteSiteBundle:Default:_stagger_right.html.twig' with {
            'imageUrl': 'bundles/htesite/images/product_samples.jpg',
            'title': 'capabilities.section_2.title',
            'body': 'capabilities.section_2.body'
        } %}

        {% include 'HteSiteBundle:Default:_stagger_left.html.twig' with {
            'imageUrl': 'bundles/htesite/images/about_us.jpg',
            'title': 'capabilities.section_3.title',
            'body': 'capabilities.section_3.body'
        } %}

        {% include 'HteSiteBundle:Default:_stagger_right.html.twig' with {
            'imageUrl': 'bundles/htesite/images/product_samples.jpg',
            'title': 'capabilities.section_4.title',
            'body': 'capabilities.section_4.body'
        } %}

        {% include 'HteSiteBundle:Default:_stagger_left.html.twig' with {
            'imageUrl': 'bundles/htesite/images/about_us.jpg',
            'title': 'capabilities.section_5.title',
            'body': 'capabilities.section_5.body'
        } %}

        {% include 'HteSiteBundle:Default:_stagger_right.html.twig' with {
            'imageUrl': 'bundles/htesite/images/product_samples.jpg',
            'title': 'capabilities.section_6.title',
            'body': 'capabilities.section_6.body'
        } %}

        {% include 'HteSiteBundle:Default:_stagger_left.html.twig' with {
            'imageUrl': 'bundles/htesite/images/about_us.jpg',
            'title': 'capabilities.section_7.title',
            'body': 'capabilities.section_7.body'
        } %}
    </div>
{% endblock %}