{% extends 'HteSiteBundle:Default:_main.html.twig' %}

{% block title %}Capabilities - {% endblock %}

{% block pageClass %}capabilities{% endblock %}

{% block container %}
    <div class="mini-hero">
        <h2><span>HTE</span> Capabilities</h2>
        <p>Personalized and quality manufacturing at competitive rates.</p>
    </div>

    <div class="row">
        {% include 'HteSiteBundle:Default:_grid_3col.html.twig' with {
        'smallImageUrl': 'bundles/htesite/images/capabilities/small/designing.jpg',
        'largeImageUrl': 'bundles/htesite/images/capabilities/large/designing.jpg',
        'title': 'capabilities.section_1.title',
        'body': 'capabilities.section_1.body'
        } %}

        {% include 'HteSiteBundle:Default:_grid_3col.html.twig' with {
        'smallImageUrl': 'bundles/htesite/images/capabilities/small/casting_and_forming.jpg',
        'largeImageUrl': 'bundles/htesite/images/capabilities/large/casting_and_forming.jpg',
        'title': 'capabilities.section_2.title',
        'body': 'capabilities.section_2.body'
        } %}

        {% include 'HteSiteBundle:Default:_grid_3col.html.twig' with {
        'smallImageUrl': 'bundles/htesite/images/capabilities/small/machining_and_assembly.jpg',
        'largeImageUrl': 'bundles/htesite/images/capabilities/large/machining_and_assembly.jpg',
        'title': 'capabilities.section_3.title',
        'body': 'capabilities.section_3.body'
        } %}
    </div>

    <div class="row">
        {% include 'HteSiteBundle:Default:_grid_3col.html.twig' with {
        'smallImageUrl': 'bundles/htesite/images/capabilities/small/heat_treatment.jpg',
        'largeImageUrl': 'bundles/htesite/images/capabilities/large/heat_treatment.jpg',
        'title': 'capabilities.section_4.title',
        'body': 'capabilities.section_4.body'
        } %}

        {% include 'HteSiteBundle:Default:_grid_3col.html.twig' with {
        'smallImageUrl': 'bundles/htesite/images/capabilities/small/surface_finishing.jpg',
        'largeImageUrl': 'bundles/htesite/images/capabilities/large/surface_finishing.jpg',
        'title': 'capabilities.section_5.title',
        'body': 'capabilities.section_5.body'
        } %}

        {% include 'HteSiteBundle:Default:_grid_3col.html.twig' with {
        'smallImageUrl': 'bundles/htesite/images/capabilities/small/quality_assurance.jpg',
        'largeImageUrl': 'bundles/htesite/images/capabilities/large/quality_assurance.jpg',
        'title': 'capabilities.section_6.title',
        'body': 'capabilities.section_6.body'
        } %}
    </div>

{% endblock %}