{% extends 'HteSiteBundle:Default:_main.html.twig' %}

{% block container %}
<div class="hero">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-6">
                <h3>{{ 'homepage.section_1.title'|trans|raw }}</h3>
                <p>
                    {{ 'homepage.section_1.body'|trans|raw }}
                </p>
                <a href="{{ path('hte_about') }}" class="h-button">{{ 'homepage.section_1.button'|trans|raw }}</a>
            </div>
        </div>
    </div>
</div>

<div class="stagger">

    {% include 'HteSiteBundle:Default:_stagger_right.html.twig' with {
        'imageUrl': 'bundles/htesite/images/product_samples.jpg',
        'title': 'homepage.section_2.title',
        'body': 'homepage.section_2.body',
        'buttonRoute': 'hte_product_samples',
        'buttonText': 'homepage.section_2.button'
    } %}

    {% include 'HteSiteBundle:Default:_stagger_left.html.twig' with {
        'imageUrl': 'bundles/htesite/images/capabilities.jpg',
        'title': 'homepage.section_3.title',
        'body': 'homepage.section_3.body',
        'buttonRoute': 'hte_capabilities',
        'buttonText': 'homepage.section_3.button'
    } %}

    {% include 'HteSiteBundle:Default:_stagger_right.html.twig' with {
        'imageUrl': 'bundles/htesite/images/contact_us.jpg',
        'title': 'homepage.section_4.title',
        'body': 'homepage.section_4.body',
        'buttonRoute': 'hte_contact',
        'buttonText': 'homepage.section_4.button'
    } %}
</div>
{% endblock %}