{% extends 'HteSiteBundle:Default:_main.html.twig' %}

{% block container %}
<div class="stagger">
    {% include 'HteSiteBundle:Default:_stagger_left.html.twig' with {
        'imageUrl': 'bundles/htesite/images/about_us.jpg',
        'title': 'homepage.section_1.title',
        'body': 'homepage.section_1.body',
        'buttonRoute': 'hte_about',
        'buttonText': 'homepage.section_1.button'
    } %}

    {% include 'HteSiteBundle:Default:_stagger_right.html.twig' with {
        'imageUrl': 'bundles/htesite/images/product_samples.jpg',
        'title': 'homepage.section_2.title',
        'body': 'homepage.section_2.body',
        'buttonRoute': 'hte_product_samples',
        'buttonText': 'homepage.section_2.button'
    } %}

    {% include 'HteSiteBundle:Default:_stagger_left.html.twig' with {
        'imageUrl': 'bundles/htesite/images/capabilities.jpg',
        'title': 'homepage.section_3.title',
        'body': 'homepage.section_3.body',
        'buttonRoute': 'hte_capabilities',
        'buttonText': 'homepage.section_3.button'
    } %}

    {% include 'HteSiteBundle:Default:_stagger_right.html.twig' with {
        'imageUrl': 'bundles/htesite/images/contact_us.jpg',
        'title': 'homepage.section_4.title',
        'body': 'homepage.section_4.body',
        'buttonRoute': 'hte_contact',
        'buttonText': 'homepage.section_4.button'
    } %}
</div>
{% endblock %}