{% extends 'HteSiteBundle:Default:_main.html.twig' %}

{% block title %}Product Samples &middot; {% endblock %}

{% block container %}
    <div class="stagger">
        {% include 'HteSiteBundle:Default:_stagger_left.html.twig' with {
            'imageUrl': 'bundles/htesite/images/about_us.jpg',
            'title': 'product_samples.section_1.title',
            'body': 'product_samples.section_1.body'
        } %}

        {% include 'HteSiteBundle:Default:_stagger_right.html.twig' with {
            'imageUrl': 'bundles/htesite/images/product_samples.jpg',
            'title': 'product_samples.section_2.title',
            'body': 'product_samples.section_2.body'
        } %}

        {% include 'HteSiteBundle:Default:_stagger_left.html.twig' with {
            'imageUrl': 'bundles/htesite/images/about_us.jpg',
            'title': 'product_samples.section_3.title',
            'body': 'product_samples.section_3.body'
        } %}

        {% include 'HteSiteBundle:Default:_stagger_right.html.twig' with {
            'imageUrl': 'bundles/htesite/images/product_samples.jpg',
            'title': 'product_samples.section_4.title',
            'body': 'product_samples.section_4.body'
        } %}

        {% include 'HteSiteBundle:Default:_stagger_left.html.twig' with {
            'imageUrl': 'bundles/htesite/images/about_us.jpg',
            'title': 'product_samples.section_5.title',
            'body': 'product_samples.section_5.body'
        } %}
    </div>
{% endblock %}