body {
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.428571429;
  font-weight: 300;
  color: #333333;
  background-color: #ffffff;
}

h3 {
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
}

p {
  line-height: 2;
  letter-spacing: -0.02em;
}

#main {
  width: 100%; /* full fluid layout */
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

.h-header {
  background-color: #2e2d2d;
  text-align: center;

  span {
    display: none;
  }

  img {
    display: inline;
    width: 350px;
  }
}

/* Stagger */
a.h-button {
  display: block;
  width: 75%;
  text-align: center;
  padding: 10px 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;

  .stagger & {
    background-color: #d80303;
    color: #FFF;
    margin-top: 30px;
  }

  &:hover {
    background-color: #8C0101;
  }

  @media (min-width: 768px) {
    & {
      width: 66%;
    }
  }

  @media (min-width: 992px) {
    & {
      width: 50%;
    }
  }
}

.stagger {
  background-color: #2e2d2d;
  margin-left: -15px;
  margin-right: -15px;

  .row {
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 2px;

    > .container {
      margin-right: auto;
      margin-left: auto;
    }

    .image-container {
      width: 100%;

      @media (min-width: 768px) {
        & {
          width: 50%;
          max-width: 480px;
        }

        img {
          width: 100%;
        }
      }
    }
  }
}
